version: "3"
services:
  es:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.3.2
    container_name: es
    environment:
      - discovery.type=single-node
    ports:
      - 9200:9200
    volumes:
      - esdata1:/usr/share/elasticsearch/data

  loader:
    image: mawinkler/event-loader:latest
    depends_on:
      - es
    environment:
      WS_SERVER: app.deepsecurity.trendmicro.com:443
      WS_TENANT: <WORKLOAD SECURITY TENANT NAME>
      WS_USERNAME: <WORKLOAD SECURITY USER NAME>
      WS_PASSWORD: <WORKLOAD SECURITY PASSWORD>
      WS_API_KEY: <WORKLOAD SECURITY API KEY>
      ELASTICSEARCH: es
      ELASTICSEARCH_INDEX: ws
      SCHED_INTERVAL: 60
      SCHED_DELAY: 0
      SCHED_OVERLAP: 20
      PRELOAD_DAYS: 10

  digger:
    image: mawinkler/event-digger:latest
    depends_on:
      - es
    ports:
      - 3000:3000
    # The following variables are hard coded within the react app
    # ELASTICSEARCH: es
    # ELASTICSEARCH_INDEX: ws
    networks:
      event_digger_net:
        ipv4_address: 172.16.0.12

volumes:
    esdata1:
      driver: local