export WS_SERVER="app.deepsecurity.trendmicro.com:443"
export WS_TENANT="<WORKLOAD SECURITY TENANT NAME>"
export WS_USERNAME="<WORKLOAD SECURITY USER NAME>"
export WS_PASSWORD="<WORKLOAD SECURITY PASSWORD>"
export WS_API_KEY="<WORKLOAD SECURITY API KEY>"
export ELASTICSEARCH="es"
export ELASTICSEARCH_INDEX="ws"
export SCHED_INTERVAL="60"
export SCHED_DELAY="0"
export SCHED_OVERLAP="20"
export PRELOAD_DAYS="10"
